/* aタグ */
/* aタグ黒 */
.a-tag:link {
    color: black;
    text-decoration: none;
}

.a-tag:visited {
    color: black;
    text-decoration: none;
}

.a-tag:hover {
    color: #ECC100;
}

.a-tag:active {
    color: #ECC100;
    text-decoration: none;
}

/* aタグ黄色 */
.a-tag-yellow:link {
    color: #ECC100;
    text-decoration: none;
}

.a-tag-yellow:visited {
    color: #ECC100;
    text-decoration: none;
}

.a-tag-yellow:hover {
    color: #72736F;
}

.a-tag-yellow:active {
    color: #72736F;
    text-decoration: none;
}

/* ナビバー */
.wrestlingapp-navbar {
    background-color: #262522!important;
    padding: 30px 20px 30px 50px;
}

/* ナビバー右側 */
.wrestlingapp-navber-right {
    color: white;
}

.wrestlingapp-navber-right:hover {
    color: #ECC100;
}

.navbar_brand_logo {
    height: 32px;
    display: inline-block;
}

#hamburger_btn_check:checked~.hamburger_btn .btn_close {
    display: block;
}

#hamburger_btn_check:checked~.hamburger_btn .btn_open {
    display: none;
}

.btn_close {
    display: none;
}

#hamburger_btn_check {
    display: none;
}

/* ボタン */
.wrestlingapp-login-button,
.wrestlingapp-login-button:visited {
    color: #ECC100;
    border-color: #ECC100;
    background-color: #262522;
}

.wrestlingapp-login-button.active,
.wrestlingapp-login-button.active:hover,
.wrestlingapp-login-button.active:focus {
    background-color: #ECC100 !important;
    color: white !important;
    border-color: #ECC100 !important;
}


.wrestlingapp-login-button:hover {
    background-color: #ECC100;
    color: white;
    border-color: #ECC100;
}

.wrestlingapp-competition-button {
    color: #ECC100;
    border-color: #ECC100;
}

a.wrestlingapp-competition-button {
    text-decoration: none;
}

.wrestlingapp-competition-button.active,
.wrestlingapp-competition-button.active:hover,
.wrestlingapp-competition-button.active:focus {
    background-color: #ECC100 !important;
    color: white !important;
    border-color: #ECC100 !important;
}


.wrestlingapp-competition-button:hover {
    background-color: #ECC100;
    color: white;
    border-color: #ECC100;
}





.wrestlingapp-class-button {
    color: #ECC100;
    border-color: #ECC100;
}

a.wrestlingapp-class-button {
    text-decoration: none;
}

.wrestlingapp-class-button.active,
.wrestlingapp-class-button.active:hover,
.wrestlingapp-class-button.active:focus {
    background-color: #ECC100 !important;
    color: white !important;
    border-color: #ECC100 !important;
}


.wrestlingapp-class-button:hover {
    background-color: #ECC100;
    color: white;
    border-color: #ECC100;
}

.active-link {
    background-color: #ECC100;
    color: white;
    border-color: #ECC100;
}

/* body */
.wrestlingapp-background {
    background-color: #72736F;
    padding: 50px 50px 50px 50px;
}

.wrestlingapp-content {
    background-color: white;
    height: calc(100% - 50px);
    width: 100%;
}

/* テーブル */
.table .wrestlingapp-row-height {
    height: 50px;
}

.wrestlingapp-table-width .table {
    width: 100%;
    height: auto;
}

.categorized-box {
    border: 5px solid #ECC100;
    padding: 10px 30px 10px 30px;
}

.wrestlingapp-class-button, .nav-link {
    border-radius: 0!important;
}

.scoresheet-point-fontsize {
    font-size: 72px;
}
.scoresheet-red-border {
    border: 5px solid #E94709;
    border-color: #E94709;

}

.scoresheet-blue-border {
    border: 5px solid #365E94;
    border-color: #365E94;

}

.red-background {
    background-color: #E94709!important;
    color: white!important;
}

.blue-background {
    background-color: #365E94!important;
    color: white!important;
}

.winner-background {
    background-color: #72736F!important;
    color: white!important;
}

.scoresheet-table{
    width: 100%;
}

.table-width {
    width: 100%;
}

.list-upper-content {
    font-size: 14px;
    font-weight: bold;
}

.list-middle-content {
    font-size: 16px;
}

.list-lower-content {
    font-size: 11px;
}

.start-date {

}

.place-name {

}

.category-name {

}

.wrestlingapp-competition-sp {
    border-left: none!important;
    border-right: none!important;
    border-radius: 0%!important;
}

.scoresheet-container {
    display: flex;
    justify-content: center;
}

/* footer */
.wrestlingapp-footer {
    background-color: #262522;
}


@media (max-width: 576px) {
    .wrestlingapp-competition-button {
        font-size: 0.8rem; /* 小さいフォントサイズ */
    }
    .table-sp-fs {
        font-size: 0.1rem;
    }
    .wrestlingapp-background {
        background-color: #72736F;
        padding: 0;
    }

    .class-list {
        margin-left: 5%;
        margin-right: 5%;
    }

    .classfiedcompetition-playertable-sp {
        font-size: 0.8rem;
    }

    .wrestlingapp-schedule-sp {
        font-size: 10px!important;
    }

    .wrestlingapp-date-button {
        font-size: 14px!important;
    }

    .macthorder-list {
        border-top: #262522 1px solid;

        border-radius: 0%;
    }

    .scoresheet-btn-sp {
        font-size: 11px;
    }

    .scoresheet-name-sp {
        font-size: 12px!important;
    }

    .scoresheet-container-sp {
        display: block;
    }
}
